@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #b466d4;
  --quaternary-color: #e657a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  /* height: 100%;
  width: 100%; */
  padding: 0;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-color);
}

/* Header Styles */

header {
  /* height: 50px; */
  height: calc(4vh + 4vw);
  /* padding: 15px 35px; */
  padding: 0 6px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: calc(3vh + 3vw);
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

/* header nav {
  margin: 7px 0;
  margin: 0;
} */

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 0 7px;
  font-weight: 300;
  font-size: calc(1.8vh + 1.8vw);
}

header nav ul li a:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 0.6em;
  text-shadow: none;
}

/* End Header Styles */

/* Hero Styles */
.hero {
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  width: 100%;
  height: calc(100vh - calc(4vh + 4vw));
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .hero img {
  width: 77%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.name-container {
  margin: 0 5vh;
  padding-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .hero .last-name {
  margin-top: 0.9vh;
} */

/* .hero-name-occupation {
  position: relative;
  top: 20vh;
} */

.hero p {
  /* margin-top: 0.9vh; */
  text-align: center;
  font-size: 7.5vw;
  font-weight: 100;
}

/* .hero #arrow {
  width: 20%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 90%;
} */

.hero #arrow {
  width: 18%;
  display: block;
  margin: 3vh auto;
}

.hero #arrow:hover {
  width: 20.5%;
}

/* .hero-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28vh;
} */

/* .name {
  flex-grow: 1;
  margin: 30% auto 0 auto;
  width: 70%;
} */

/* .hero p {
  color: var(--primary-color);
  margin: 1vh;
  font-size: 4vw;
  text-align: center;
  flex-grow: 1;
} */

/* End Hero Styles */

/* About Me Styles */
/* .about img {
  width: 40vh;
  border-radius: 50%;
} */

/* About Me Styles */
.about {
  background: linear-gradient(
    to right top,
    #194189 0%,
    #3b4980 25%,
    #8738a7 100%
  );
  margin: 10px;
  border-radius: 25px;
  padding: 20px;
}

.about img {
  display: block;
  width: 40vh;
  border-radius: 50%;
  /* border: 2px solid var(--secondary-color); */
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.about .bio {
  margin: 30px;
  font-size: 20px;
}
