@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #ad3ce2;
  --quaternary-color: #e657a1;
  --headerheight: calc(4vh + 4vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  /* height: 100%;
  width: 100%; */
  padding: 0;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-color);
}

body h3 {
  font-size: calc(4vh + 4vw);
  font-weight: 500;
  text-align: center;
  margin: 1vw 1vw;
  color: var(--primary-color);
}

body h4 {
  font-size: calc(2vh + 2vw);
  font-weight: 500;
  text-align: center;
  margin: 1vw 1vw;
}

/* Header Styles */

header {
  /* height: 50px; */
  height: var(--headerheight);
  padding: 0.5vh 6px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  z-index: 9999;
}

/* header > * {
  padding-top: 1.1vh;
} */

header h1 {
  font-weight: 700;
  margin: 0;
  font-size: calc(3vh + 3vw);
  color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

/* header nav {
  margin: 7px 0;
  margin: 0;
} */

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 0 6px;
  font-weight: 300;
  font-size: calc(2.1vh + 2.1vw);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.6em;
  text-shadow: none;
  font-weight: 400;
}
/* End Header Styles */

/* Hero Styles */
.hero {
  background-image: url(../images/herobg.jpg);
  background-color: var(--secondary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: 100%;
  width: 100%;
  height: calc(100vh - var(--headerheight));
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* .hero img {
  width: 77%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.name-container {
  margin: 0 5vh;
  padding-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  width: 75vw;
  /* width: 42vw; */
  padding: 0.5vw 1vw;
}

/* .hero .last-name {
  margin-top: 0.9vh;
} */

/* .hero-name-occupation {
  position: relative;
  top: 20vh;
} */

.hero p {
  /* margin-top: 0.9vh; */
  text-align: center;
  font-size: 7.5vw;
  /* font-size: 5.5vw; */
  font-weight: 300;
}

.hero #arrow {
  width: 20%;
  /* width: 10%; */
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 90%;
}

.hero #arrow:hover {
  transform: translateY(5%);
}

/* .hero-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 28vh;
} */

/* .name {
  flex-grow: 1;
  margin: 30% auto 0 auto;
  width: 70%;
} */

/* .hero p {
  color: var(--primary-color);
  margin: 1vh;
  font-size: 4vw;
  text-align: center;
  flex-grow: 1;
} */

/* End Hero Styles */

/* About Me Styles */
/* .about img {
  width: 40vh;
  border-radius: 50%;
} */

/* About Me Styles */
/* .about {
  background: linear-gradient(
    to right top,
    #194189 0%,
    #3b4980 25%,
    #8738a7 100%
  );
  margin: 10px;
  border-radius: 25px;
  padding: 20px;
} */

.about {
  padding-top: var(--headerheight);
}

.about-content-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10vw;
  align-items: center;
}

.about img {
  width: 40vw;
  /* width: 10vw; */
  border-radius: 50%;
  margin: 0 auto;
  flex-basis: 30vh 30vw;
  flex-grow: 1;
  align-self: center;
}

.about p {
  flex-basis: 300px;
  font-weight: 500;
  flex-grow: 2;
  font-size: calc(1.5vh + 1.5vw);
  /* font-size: calc(1.3vh + 1.3vw); */

  text-align: center;
  /* text-align: left; */
  padding: 1vh 0;
  /* padding-left: 6vw; */
}

/* .about img {
  display: block;
  width: 40vh;
  border-radius: 50%;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
} */

/* .about .bio {
  margin: 30px;
  font-size: 20px;
} */

/* End About Styles */

/* Work Styles */

.showcase {
  padding-top: var(--headerheight);
}
.primary-project {
  /* position: relative; */
  /* background: linear-gradient(
    to right top,
    #194189 0%,
    #3b4980 25%,
    #8738a7 100%
  ); */
  background: linear-gradient(
    to right top,
    #06b11d 0%,
    #2eb80c 25%,
    #fffb00 100%
  );
  /* height: 60vh; */
  border-radius: 20px;
  margin: calc(0.5vh + 0.5vw);
  /* margin: calc(2vh + 2vw); */
  overflow: hidden;
}

/* .run-buddy h4 {
  text-align: left;
  padding-left: calc(1vh + 1vw);
  font-size: ;
} */
.primary-project {
  display: flex;
  /* padding-top: 4vh; */
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  padding: 4vw;
}

.projects-top {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.run-buddy-description {
  /* padding-top: 5vh; */
  display: flex;
  flex-direction: column;
  margin: 0 1.5vw;
  margin-right: 7vw;
}

#run-buddy-header {
  font-weight: 600;
  color: #fffb00;
  font-size: calc(3vh + 3vw);
  line-height: 0.85;
  padding-bottom: 1vw;
}

#run-buddy-subheading {
  font-weight: 600;
  color: #ffffff;
  font-size: calc(3vh + 3vw);
  line-height: 1;
  padding-bottom: 1vw;
}

.run-buddy {
  font-weight: 500;
  font-size: calc(1.5vh + 1.5vw);
  margin: 0 calc(1vh + 1vw);
}

.primary-project img {
  display: block;
  align-self: center;
  margin: 2vh auto 2vh auto;
  /* margin: 0 1vh; */
  width: 40vw;
  width: 70vw;
}

.run-buddy-container {
  display: flex;
}

.secondary-projects-container {
  columns: 2;
  margin: 10px;
}

.calculator {
  /* width: 40vw; */
  background-image: url(../images/calculator.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.calculator h4 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  background-position: center;
  padding: 0.1em 0;
}

.secondary-project p {
  color: rgba(255, 255, 255, 0);
}

.hover-p:hover {
  color: rgba(255, 255, 255, 0.9);
}

.secondary-project:hover p {
  color: rgba(255, 255, 255, 0.9);
}

/* End Work Styles */

/* Contact Styles */
/* End Contact Styles */

/* Footer Styles */
/* End Footer Styles */
